[submodule "blst"]
	path = blst
	url = git@github.com:supranational/blst.git
[submodule "cryptol-specs"]
	path = cryptol-specs
	url = git://github.com/GaloisInc/cryptol-specs
[submodule "blst_patched"]
	path = blst_recent
	url = git@github.com:supranational/blst.git
